In [3]:
import pandas as pd

In [4]:
col_names=["스트레스","스트레스남학생","스트레스여학생","우울감경혐율","우울남학생","우울여학생","자살생각율","자살남학생율","자살여학생율"]

In [5]:
raw_data=pd.read_excel("./data/teen.xls", header=1, usecols="C:K", names=col_names)

In [6]:
raw_data

   스트레스  스트레스남학생  스트레스여학생  우울감경혐율  우울남학생  우울여학생  자살생각율  자살남학생율  자살여학생율
0  35.1     29.8     40.8    25.4   21.2   29.9   11.2     8.8    13.8

In [8]:
raw_data.loc[1]=100-raw_data.loc[0]

In [14]:
raw_data['응답']=['그렇다','아니다']

In [15]:
raw_data.set_index('응답',drop=True,inplace=True) #그럼 drop은 한글의 정렬을 할까?

In [16]:
raw_data

     스트레스  스트레스남학생  스트레스여학생  우울감경혐율  우울남학생  우울여학생  자살생각율  자살남학생율  자살여학생율
응답
그렇다  35.1     29.8     40.8    25.4   21.2   29.9   11.2     8.8    13.8
아니다  64.9     70.2     59.2    74.6   78.8   70.1   88.8    91.2    86.2