In [1]:
import pandas as pd

In [3]:
practice=pd.DataFrame({'날짜':[], '운동':[], '양':[]})
practice

Empty DataFrame
Columns: [날짜, 운동, 양]
Index: []

In [4]:
practice.loc[0]=['21-3-1','달리기',1]

In [8]:
practice.loc[1]=['21-3-2','걷기',1]
practice.loc[2]=['21-3-2','달리기',1]
practice.loc[3]=['21-3-2','계단오르기',1]

In [9]:
practice.loc[4]=['21-3-3','걷기',1.5]
practice.loc[5]=['21-3-3','달리기',1]

In [10]:
practice.to_csv("./data/practice.csv", encoding='utf-8')

In [11]:
pd.read_csv("./data/practice.csv", encoding='utf-8')

   Unnamed: 0      날짜     운동    양
0           0  21-3-1    달리기  1.0
1           1  21-3-2     걷기  1.0
2           4  21-3-3     걷기  1.5
3           5  21-3-3    달리기  1.0
4           2  21-3-2    달리기  1.0
5           3  21-3-2  계단오르기  1.0

In [13]:
pd.read_csv("./data/practice.csv", index_col=0, encoding='utf*8')

       날짜     운동    양
0  21-3-1    달리기  1.0
1  21-3-2     걷기  1.0
4  21-3-3     걷기  1.5
5  21-3-3    달리기  1.0
2  21-3-2    달리기  1.0
3  21-3-2  계단오르기  1.0

In [14]:
practice.pivot_table(index='운동')

          양
운동
걷기     1.25
계단오르기  1.00
달리기    1.00

In [15]:
import numpy as np

In [16]:
practice.pivot_table(index="운동", aggfunc=np.sum)

         양
운동
걷기     2.5
계단오르기  1.0
달리기    3.0

In [20]:
practice.pivot_table(index="운동", aggfunc=[np,sum, len])

TypeError: 'module' object is not callable

In [21]:
practice.pivot('날짜','운동','양')

운동       걷기  계단오르기  달리기
날짜
21-3-1  NaN    NaN  1.0
21-3-2  1.0    1.0  1.0
21-3-3  1.5    NaN  1.0

In [22]:
prac_pivot=practice.pivot('날짜','운동','양')
prac_pivot.fillna(100, inplace=True)
prac_pivot

운동         걷기  계단오르기  달리기
날짜
21-3-1  100.0  100.0  1.0
21-3-2    1.0    1.0  1.0
21-3-3    1.5  100.0  1.0