In [463]:
import urllib.request
client_id="AJj1g19VDMUEPfuhWX1J"
client_secret="TqsnGMK_xn"

In [464]:
import json

In [465]:
def create_url(api_node, search_text, start_num, disp_num):
    base = "https://openapi.naver.com/v1/search"
    node = "/"+api_node+".json"
    param_query = "?query=" + urllib.parse.quote(search_text)
    param_start = "&start=" + str(start_num)
    param_disp = "&display=" + str(disp_num)
    
    return base+node+param_query+param_start+param_disp

In [466]:
url = create_url("book", "파이썬", 1,3)

In [467]:
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id", client_id)
request.add_header("X-Naver-Client-Secret", client_secret)
response = urllib.request.urlopen(request)
print(response.getcode())

200

In [468]:
result=json.loads(response.read().decode('utf-8'))
result

{'lastBuildDate': 'Wed, 24 Nov 2021 20:05:39 +0900',
 'total': 1407,
 'start': 1,
 'display': 3,
 'items': [{'title': '이것이 취업을 위한 코딩 테스트다 with <b>파이썬</b> (취업과 이직을 결정하는 알고리즘 인터뷰 완벽 가이드, C/C++, 자바 코드 제공)',
   'link': 'http://book.naver.com/bookdb/book_detail.php?bid=16439154',
   'image': 'https://bookthumb-phinf.pstatic.net/cover/164/391/16439154.jpg?type=m1&udate=20200928',
   'author': '나동빈',
   'price': '34000',
   'discount': '30600',
   'publisher': '한빛미디어',
   'pubdate': '20200805',
   'isbn': '1162243074 9791162243077',
   'description': '8가지 핵심 알고리즘 이론을 쉽게 설명하고, 관련 실전 문제를 풀이했다. 출제 유형 분석, 이론 설명, 기출문제 풀이까지! 어떤 코딩 테스트도 이 책 한 권으로 대비할 수 있을 것이다. 코딩 테스트에서 주로 선택하는 <b>파이썬</b>을 기반으로 설명되어 있으며, <b>파이썬</b> 코드 외에도 C/C++, 자바 코드를 추가로 제공한다.'},
  {'title': '혼자 공부하는 <b>파이썬</b> (<b>파이썬</b> 최신 버전 반영)',
   'link': 'http://book.naver.com/bookdb/book_detail.php?bid=15028688',
   'image': 'https://bookthumb-phinf.pstatic.net/cover/150/286/15028688.jpg?type=m1&udate=20210809',
   'author': '윤인성',
   'price': '18000',
   'discount': '16200',
   'publisher': '한빛미디어',
   'pubdate': '20190610',
   'isbn': '1162241888 9791162241882',
   'description': '1:1 과외하듯 배우는 <b>파이썬</b> 프로그래밍 자습서(<b>파이썬</b> 최신 버전 반영)\n27명의 베타리더 검증으로, ‘함께 만든’ 입문자 맞춤형 도서\n이 책은 독학으로 프로그래밍 언어를 처음 배우려는 입문자가, 혹은 <b>파이썬</b>을 배우려는 입문자가 ‘꼭 필요한 내용을 제대로’ 학습할 수 있도록 구성했다. ‘무엇을’... '},
  {'title': 'Do it! 점프 투 <b>파이썬</b>',
   'link': 'http://book.naver.com/bookdb/book_detail.php?bid=15052904',
   'image': 'https://bookthumb-phinf.pstatic.net/cover/150/529/15052904.jpg?type=m1&udate=20200910',
   'author': '박응용',
   'price': '18800',
   'discount': '16900',
   'publisher': '이지스퍼블리싱',
   'pubdate': '20190620',
   'isbn': '1163030910 9791163030911',
   'description': '<b>파이썬</b> 4년 연속 베스트셀러 1위!\n《DO IT! 점프 투 <b>파이썬</b>》 전면 개정판 출시!문과생도 중고등학생도 직장인도 프로그래밍에 눈뜨게 만든 바로 그 책이... 점프 투 <b>파이썬</b>》으로 출간되었던 이 책은 약 4년 동안의 피드백을 반영하여 초보자가 더 빠르게 입문하고, 더 깊이 있게 공부할 수 있도록 개정되었다.... '}]}

In [469]:
result['display']

3

In [470]:
result['items']

[{'title': '이것이 취업을 위한 코딩 테스트다 with <b>파이썬</b> (취업과 이직을 결정하는 알고리즘 인터뷰 완벽 가이드, C/C++, 자바 코드 제공)',
  'link': 'http://book.naver.com/bookdb/book_detail.php?bid=16439154',
  'image': 'https://bookthumb-phinf.pstatic.net/cover/164/391/16439154.jpg?type=m1&udate=20200928',
  'author': '나동빈',
  'price': '34000',
  'discount': '30600',
  'publisher': '한빛미디어',
  'pubdate': '20200805',
  'isbn': '1162243074 9791162243077',
  'description': '8가지 핵심 알고리즘 이론을 쉽게 설명하고, 관련 실전 문제를 풀이했다. 출제 유형 분석, 이론 설명, 기출문제 풀이까지! 어떤 코딩 테스트도 이 책 한 권으로 대비할 수 있을 것이다. 코딩 테스트에서 주로 선택하는 <b>파이썬</b>을 기반으로 설명되어 있으며, <b>파이썬</b> 코드 외에도 C/C++, 자바 코드를 추가로 제공한다.'},
 {'title': '혼자 공부하는 <b>파이썬</b> (<b>파이썬</b> 최신 버전 반영)',
  'link': 'http://book.naver.com/bookdb/book_detail.php?bid=15028688',
  'image': 'https://bookthumb-phinf.pstatic.net/cover/150/286/15028688.jpg?type=m1&udate=20210809',
  'author': '윤인성',
  'price': '18000',
  'discount': '16200',
  'publisher': '한빛미디어',
  'pubdate': '20190610',
  'isbn': '1162241888 9791162241882',
  'description': '1:1 과외하듯 배우는 <b>파이썬</b> 프로그래밍 자습서(<b>파이썬</b> 최신 버전 반영)\n27명의 베타리더 검증으로, ‘함께 만든’ 입문자 맞춤형 도서\n이 책은 독학으로 프로그래밍 언어를 처음 배우려는 입문자가, 혹은 <b>파이썬</b>을 배우려는 입문자가 ‘꼭 필요한 내용을 제대로’ 학습할 수 있도록 구성했다. ‘무엇을’... '},
 {'title': 'Do it! 점프 투 <b>파이썬</b>',
  'link': 'http://book.naver.com/bookdb/book_detail.php?bid=15052904',
  'image': 'https://bookthumb-phinf.pstatic.net/cover/150/529/15052904.jpg?type=m1&udate=20200910',
  'author': '박응용',
  'price': '18800',
  'discount': '16900',
  'publisher': '이지스퍼블리싱',
  'pubdate': '20190620',
  'isbn': '1163030910 9791163030911',
  'description': '<b>파이썬</b> 4년 연속 베스트셀러 1위!\n《DO IT! 점프 투 <b>파이썬</b>》 전면 개정판 출시!문과생도 중고등학생도 직장인도 프로그래밍에 눈뜨게 만든 바로 그 책이... 점프 투 <b>파이썬</b>》으로 출간되었던 이 책은 약 4년 동안의 피드백을 반영하여 초보자가 더 빠르게 입문하고, 더 깊이 있게 공부할 수 있도록 개정되었다.... '}]

In [471]:
len(result['items'])

3

In [472]:
titles=[result['items'][n]['title'] for n in range(3)]
titles

['이것이 취업을 위한 코딩 테스트다 with <b>파이썬</b> (취업과 이직을 결정하는 알고리즘 인터뷰 완벽 가이드, C/C++, 자바 코드 제공)',
 '혼자 공부하는 <b>파이썬</b> (<b>파이썬</b> 최신 버전 반영)',
 'Do it! 점프 투 <b>파이썬</b>']

In [473]:

def delete_tag(input_str):
    input_str = input_str.replace("<b>", "")
    input_str = input_str.replace("</b","")
    return input_str

In [474]:
delete_tag(result['items'][0]['title'])

'이것이 취업을 위한 코딩 테스트다 with 파이썬> (취업과 이직을 결정하는 알고리즘 인터뷰 완벽 가이드, C/C++, 자바 코드 제공)'

In [475]:
titles=[delete_tag(result['items'][n]['title'])for n in range(3)]
titles

['이것이 취업을 위한 코딩 테스트다 with 파이썬> (취업과 이직을 결정하는 알고리즘 인터뷰 완벽 가이드, C/C++, 자바 코드 제공)',
 '혼자 공부하는 파이썬> (파이썬> 최신 버전 반영)',
 'Do it! 점프 투 파이썬>']

In [476]:
authors=[result['items'][n]['author']for n in range(3)]
authors

['나동빈', '윤인성', '박응용']

In [477]:
pubdates = [result['items'][n]['pubdate'] for n in range(3)]
pubdates

['20200805', '20190610', '20190620']

In [478]:
import pandas as pd

In [479]:
pd.DataFrame({'책제목':titles, '작가':authors, '출판일':pubdates})

                                                 책제목   작가       출판일
0  이것이 취업을 위한 코딩 테스트다 with 파이썬> (취업과 이직을 결정하는 알고리...  나동빈  20200805
1                       혼자 공부하는 파이썬> (파이썬> 최신 버전 반영)  윤인성  20190610
2                                   Do it! 점프 투 파이썬>  박응용  20190620

In [480]:
def get_dataframe(url):
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id", client_id)
    request.add_header("X-Naver-Client-Secret", client_secret)
    response = urllib.request.urlopen(request)
    result = json.loads(response.read().decode('utf-8'))
    end_num = result['display']
    titles=[delete_tag(result['items'][n]['title']) for n in range(end_num)]
    authors = [result['items'][n]['author'] for n in range(end_num)]
    pubdates = [result['items'][n]['pubdate'] for n in range(end_num)]
    
    
    return pd.DataFrame({'책제목':titles, '작가':authors, '출판일':pubdates})

In [481]:
get_dataframe(url)

                                                 책제목   작가       출판일
0  이것이 취업을 위한 코딩 테스트다 with 파이썬> (취업과 이직을 결정하는 알고리...  나동빈  20200805
1                       혼자 공부하는 파이썬> (파이썬> 최신 버전 반영)  윤인성  20190610
2                                   Do it! 점프 투 파이썬>  박응용  20190620

In [482]:
result_search=[]

In [483]:
for n in range(1,1000,100):
    url=create_url("book", "파이썬",n,100)
    result_search.append(get_dataframe(url))
    
result_search=pd.concat(result_search)

In [484]:
result_search.head()

                                                 책제목       작가       출판일
0  이것이 취업을 위한 코딩 테스트다 with 파이썬> (취업과 이직을 결정하는 알고리...      나동빈  20200805
1                       혼자 공부하는 파이썬> (파이썬> 최신 버전 반영)      윤인성  20190610
2                                   Do it! 점프 투 파이썬>      박응용  20190620
3       파이썬> 알고리즘 인터뷰 (95가지 알고리즘 문제 풀이로 완성하는 코딩 테스트)      박상길  20200715
4  파이썬>(Python) 2학년 스크래핑의 구조 (체험으로 배우고! 대화 형식으로 공부!)  모리 요시나오  20211117

In [485]:
result_search.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     1000 non-null   object
 1   작가      1000 non-null   object
 2   출판일     1000 non-null   object
dtypes: object(3)
memory usage: 31.2+ KB

In [486]:
result_search.reset_index()

,index,책제목,작가,출판일
0,0,이것이 취업을 위한 코딩 테스트다 with 파이썬> (취업과 이직을 결정하는 알고리...,나동빈,20200805
1,1,혼자 공부하는 파이썬> (파이썬> 최신 버전 반영),윤인성,20190610
2,2,Do it! 점프 투 파이썬>,박응용,20190620
3,3,파이썬> 알고리즘 인터뷰 (95가지 알고리즘 문제 풀이로 완성하는 코딩 테스트),박상길,20200715
4,4,파이썬>(Python) 2학년 스크래핑의 구조 (체험으로 배우고! 대화 형식으로 공부!),모리 요시나오,20211117
...,...,...,...,...
995,95,Deep Learning Cookbook (빠르게 실무에 적용할 수 있는 딥러닝으로...,Douwe Osinga,20190107
996,96,재무빅데이터 분석사 2급 (하),김태식,20200207
997,97,Make: 아두이노 DIY 프로젝트,키모 카르비넨|테로 카르비넨,20140106
998,98,Spark와 머신 러닝 (빅데이터 분석과 예측 모델 트레이닝을 위한),닉 펜트레스,20160104
999,99,텐서플로우 원리와 응용 (예제로 풀어보는),황원지앤|탕위앤,20181102

In [487]:
result_search.reset_index(drop=True, inplace=True)

In [488]:
result_search

,책제목,작가,출판일
0,이것이 취업을 위한 코딩 테스트다 with 파이썬> (취업과 이직을 결정하는 알고리...,나동빈,20200805
1,혼자 공부하는 파이썬> (파이썬> 최신 버전 반영),윤인성,20190610
2,Do it! 점프 투 파이썬>,박응용,20190620
3,파이썬> 알고리즘 인터뷰 (95가지 알고리즘 문제 풀이로 완성하는 코딩 테스트),박상길,20200715
4,파이썬>(Python) 2학년 스크래핑의 구조 (체험으로 배우고! 대화 형식으로 공부!),모리 요시나오,20211117
...,...,...,...
995,Deep Learning Cookbook (빠르게 실무에 적용할 수 있는 딥러닝으로...,Douwe Osinga,20190107
996,재무빅데이터 분석사 2급 (하),김태식,20200207
997,Make: 아두이노 DIY 프로젝트,키모 카르비넨|테로 카르비넨,20140106
998,Spark와 머신 러닝 (빅데이터 분석과 예측 모델 트레이닝을 위한),닉 펜트레스,20160104
999,텐서플로우 원리와 응용 (예제로 풀어보는),황원지앤|탕위앤,20181102

In [489]:
result_search.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     1000 non-null   object
 1   작가      1000 non-null   object
 2   출판일     1000 non-null   object
dtypes: object(3)
memory usage: 23.6+ KB

In [490]:
!pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\programdata\anaconda3\lib\site-packages (1.3.8)

In [491]:
import xlsxwriter

In [492]:
writer = pd.ExcelWriter("./data/info.xlsx", engine='xlsxwriter')
result_search.to_excel(writer, sheet_name='Sheet1')

workbook = writer.book
worksheet = writer.sheets['Sheet1']

format_center = workbook.add_format({'text_wrap':True})
format_center.set_align('center')
format_center.set_align('vcenter')

worksheet.set_column('A:A', 5)
worksheet.set_column('B:B', 90, format_center)
worksheet.set_column('C:C', 40, format_center)
worksheet.set_column('D:D', 15)

writer.save()

https://xlsxwriter.readthedocs.io/ 참고 사이트